@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.my-button {
  font-size: 16px;
  font-family: poppins;
  font-weight: 400;
  box-shadow: 0px 20px 80px rgba(51, 78, 123, 0.3);
  border-radius: 10px;
}

.bg-blue-gradient {
  background: linear-gradient(87.05deg, #6462f0 0%, #9190e9 95.5%);
  border-radius: 30px;
}
